# See https://codex.wordpress.org/Giving_WordPress_Its_Own_Directory
# @TODO: This appears to not work with my DrupalVM-based php-fpm setup.

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /

# In this docroot, if the file doesn't exist, send it along to /wp/
# (so: catch theme and plugin assets here)
RewriteCond %{REQUEST_URI} !^/wp/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /wp/$1

# And if there's a request for the home page (site root), send it
# straight to the WordPress index
RewriteRule ^(/)?$ wp/index.php [L]
</IfModule>
